.page {
  margin: 0;
  min-height: 100vh;
  background-color: #3C39EC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserat;
  box-sizing: border-box;
}

.tickets {
  width: 60%;
}

.tickets__container {
  display: block;
  position: relative;
  width: 100%;
  height: 78vh;
}

.ticket {
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  filter: drop-shadow(0px 38px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 15.8755px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 8.4878px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 4.75819px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 2.52704px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 1.05156px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.ticket:nth-of-type(1) {
  left: 0;
}

.ticket:nth-of-type(2) {
  left: 16.66%;
}

.ticket:nth-of-type(3) {
  left: 33.32%;
}

.ticket:nth-of-type(4) {
  left: 49.98%;
}

.ticket:nth-of-type(5) {
  left: 66.64%;
}

.ticket__top {
  background-color: #fff;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.ticket__bottom {
  background-color: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  min-height: 262px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket__cutline {
  width: 100%;
  height: auto;
  display: block;
}

.tickets__item {
  width: 33.33%;
  position: absolute;
  min-height: 710px;
  min-width: 320px;
}

.ticket__image {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(https://code.s3.yandex.net/web-code/entrance-test/ticket-image.jpg);
  height: 25vh;
  background-position: center;
  background-size: cover;
}

.ticket__description {
  box-sizing: border-box;
  padding: 8px 20px;
}

.ticket__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
}

.ticket__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  margin-top: 16px;
}

.ticket__label {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #94949E;
}

.ticket__data-text {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.ticket__qr {
  width: 128px;
}

.ticket__qr-text {
  width: 160px;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  color: #94949E;
  margin: 16px 0 0 0;
}

.modal__container {
  position: absolute;
  left:  50%;
  top: -50%;
  width: 400px;
  background: white;
  font-size: 24px;
  line-height: 1.5;
  padding: 30px;
  border-radius: 30px;
  transition: top 1s;
  transition-timing-function: ease-in-out;
  transform: translateX(-50%) translateY(-50%);
}
.modal__container-visible {
  top: 50%;
}
.modal__backdrop{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  width: 100vw;
  transition: background-color 1s;
  transition-timing-function: ease-in-out;
  height: 100vh;
}
.modal__backdrop-visible {
  background-color: rgb(0 0 0 / 37%);
}
.modal__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal__text-value {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .tickets {
    width: 75%;
  }
}

@media screen and (max-width: 950px) {
  .tickets {
    width: 90%;
  }
}