.page {
  margin: 0;
  background-color: #F3F3F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab';
}

.words {
  list-style: none;
  padding: 0;
  display: flex;
  max-width: 460px;
  flex-wrap: wrap;
}

.page__illustration {
  width: 170px;
}

.page__title {
  font-size: 48px;
  margin: 32px 0 64px;
}

.words__item {
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #0c0c0d;
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.07), 0px 3.29866px 4.6019px rgba(0, 0, 0, 0.0482987), 0px 1.5739px 1.81135px rgba(0, 0, 0, 0.0389404), 0px 0.749364px 0.627052px rgba(0, 0, 0, 0.0310596), 0px 0.285547px 0.128978px rgba(0, 0, 0, 0.0217013);
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.words__item_type_success {
  background-color: #3C39EC;
  color: #fff;
}

.words__item_type_wrong {
  background-color: #FF3B30;
  color: #fff;
}

.words__item:nth-of-type(4) {
  margin-right: 0;
}

.words__item:last-of-type {
  margin-right: 0;
}

.result {
  font-size: 20px;
}

.page__result {
  margin: 64px 0 0 0;
}

.result__icon {
  display: inline-block;
  margin-right: 8px;
}